/.venv/Lib/site-packages/81d243bd2c585b0f4821__mypyc.cp314-win_amd64.pyd
/.venv/Lib/site-packages/charset_normalizer/cd.cp314-win_amd64.pyd
/.venv/Scripts/python.exe
/.venv/Scripts/python3.dll
/.venv/Scripts/python314.dll
/.venv/Scripts/vcruntime140.dll
/.venv/Scripts/vcruntime140_1.dll
