{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mein myManager{% endblock %}</title>

    <link rel="stylesheet" href="{% static '/app/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&display=swap" rel="stylesheet">

    {% block extra_css %}{% endblock %}
    {% block extra_js %}
        <script src="{% static 'app/js/base.js' %}"></script>
    {% endblock %}
</head>
<body>
    <nav>
        <div class="logo">
            <i class="fa-solid fa-cloud" style="margin-right: 10px"></i>
            <span>MyTools</span>
        </div>
        <div class="navigation">
            <a href="#">
                <i class="fa-solid fa-house"></i>
                {% translate 'Home' %}
            </a>
            <a href="#">
                <i class="fa-solid fa-cloud-sun"></i>
                {% translate 'Wetter' %}
            </a>
            <a href="#">
                <i class="fa-solid fa-globe"></i>
                {% translate 'Länder' %}
            </a>
            <a class="square" href="#">
                <i class="fa-solid fa-circle-info"></i>
                {% translate 'Über' %}
            </a>
        </div>
        <div class="user-actions">
            <button class="dark-mode-btn" id="darkmode-button" aria-label="Dark Mode umschalten">
                <i class="fa-solid fa-moon icon-moon"></i>
                <i class="fa-solid fa-sun icon-sun"></i>
            </button>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 MyTools</p>
    </footer>
</body>
</html>